* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	display: table;
	width: 100%;
	background: #0079c3;
	color: white;
	text-align: center;
	font: 1.6rem/1.2 'Source Sans Pro', sans-serif;
	text-rendering: optimizeLegibility;
}

.row {
	display: table-row;
	height: 1px;
}

.row-expanded { height: 100%; }

.container {
	max-width: 72rem;
	margin: auto;
	padding: 6rem 3rem;
}

a { color: white; }

a:hover { opacity: .5; }

h1 {
	text-transform: uppercase;
	letter-spacing: -.1em;
	font-size: 6rem;
}

blockquote {
	margin: 6rem 0;
	font-size: 3rem;
}

.reload {
	border: none;
	font: bold 1.8rem/4.4rem 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 4.8rem;
	border-radius: 2.4rem;
	border: solid .2rem white;
	background: transparent;
	color: white;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.reload:hover {
	background: white;
	color: black;
}

.reload:focus { outline: none; }

.share { font-size: 0; }

.share a {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	margin: 0 .8rem;
}

.colophon { margin-top: 3rem; }

@media (max-width: 768px) {
	html { font-size: 50%; }
}